################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sem3Final/Sem3Final.csproj
/Sem3Final/Sem3Final.csproj.user
